@tailwind base;
@tailwind components;
@tailwind utilities;

:host,
body {
  min-width: 340px;
  min-height: fit-content;
  height: auto;
  max-height: 1000px;
  overflow: visible;
}

#root {
  height: fit-content;
}
